
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-nav-link router-direction="" [component]="paciente">
              <ion-button class="btnHeader" (click)="cancelar()">
                Cancelar
              </ion-button>
            </ion-nav-link>
          </ion-buttons>
          <ion-title class="title">Cadastrar</ion-title>
          <ion-buttons slot="end">
            <ion-button class="btnHeader" (click)="salvar()" [strong]="true">Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Data de Nascimento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataNascimento"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input [(ngModel)]="celular" mask="(00)00000-0000"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CNS</ion-label>
          <ion-input [(ngModel)]="cns" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Link da foto</ion-label>
          <ion-input [(ngModel)]="fotoPaciente"></ion-input>
        </ion-item>
      </ion-content>
