
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-nav-link router-direction="" [component]="paciente">
              <ion-button class="btnHeader" (click)="cancelar()">
                Cancelar
              </ion-button>
            </ion-nav-link>
          </ion-buttons>
          <ion-title class="title">CADASTRAR PACIENTE</ion-title>
          <ion-buttons slot="end">
            <ion-button class="btnHeader" (click)="salvar()" [strong]="true">Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input formControlName="nome"></ion-input>
          </ion-item>
          <ion-item class="datetime-centered">
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-datetime
            size="cover"
              presentation="date"
              displayFormat="DD/MM/YYYY"
              [preferWheel]="true"
              formControlName="dataNascimento"
            ></ion-datetime>
          </ion-item>
          <ion-item (click)="changeClass(false)" [class]="classVariable">
            <ion-label position="floating">Celular</ion-label>
            <input class="input-classic"
              formControlName="celular"
              type="tel"
              id="inputCell"
              placeholder="(00) 0000-0000"
              [mask]="phoneMask"/>
          </ion-item>
          <ion-item (click)="changeClass(true)" [class]="classCns">
            <ion-label position="floating">CNS</ion-label>
            <input formControlName="cns" class="input-classic" 
              [mask]="cnsMask"
              type="text"/>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Observação</ion-label>
            <ion-input formControlName="observacao"></ion-input>
          </ion-item>
        </form>
      </ion-content>
