ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    .head-table{
      background-color:  #3880FF;
      font-weight: bold;
    }

    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-update{
      margin: -10px;
    }

    .col-update{
      padding: 0;
    }

    max-width: 900px;

    ion-row:first-child {
      background-color:  #5195FF;
      font-weight: bold;
    }

    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }

    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }
  .table-box{
  display: flex;
  align-items: center;
  justify-content: center;
  }
.scroll-lateral{
    overflow-x: scroll;
    white-space: nowrap;
}
  @media screen and (max-width: 700px) {
    .scroll-lateral {
      overflow-x: visible;
      white-space: normal;
    }
    .table-box{
      font-size: x-small;
    }
  }

.toolbar-container{
  background-color:  #3880FF;
}

.icon-update, .icon-delete {
  font-size: 20px; /* defina o tamanho desejado em pixels */
}

.icon-update {
  width: 40px;
}
