ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    .head-table{
      background-color:  #3880FF;
      font-weight: bold;
    }

    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-update, .icon-delete, .icon-procedimento{
      margin: -10px;
    }

    .col-update, .icon-delete{
      padding: 0;
    }

    max-width: 1100px;

    ion-row:first-child {
      background-color:  #5195FF;
      font-weight: bold;
    }

    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }

    ion-row:last-child {
      border-bottom: 1px solid black;
    }

  }
  .table-box{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  @media screen and (max-width: 700px) {
    .table-box{
      font-size: x-small;
    }
    .btnCadastrar{
      font-size: smaller;
    }
    .btnsUpdate{
      width: 30px;
    }
    .icon-update, .icon-delete, .icon-procedimento {
      width: 15px;
    }
  }

.toolbar-container{
  background-color:  #3880FF;
}

.icon-update, .icon-delete, .icon-procedimento {
  width: 30px;
  font-size: 180%;
}

.custom-modal{
  max-width: 450px !important;
}

pagination-controls .ngx-pagination{
  background-color: #989AA2;
  margin-top: 0 !important;
}