
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-nav-link router-direction="" [component]="paciente">
        <ion-button class="btnHeader" (click)="cancelar()">
          Cancelar
        </ion-button>
      </ion-nav-link>
    </ion-buttons>
    <ion-title *ngIf="isEditar; else cadastrar" class="title">EDITAR PROCEDIMENTO</ion-title>
    <ng-template #cadastrar>
      <ion-title class="title">CADASTRAR PROCEDIMENTO</ion-title>
    </ng-template>
      <ion-buttons slot="end">
      <ion-button class="btnHeader" (click)="salvar()" [strong]="true">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [disabled]="true"formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Local</ion-label>
      <ion-input formControlName="local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Especialidade</ion-label>
      <ion-input formControlName="especialidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-select  interface="popover"
       (ionChange)="handleChange($event)"
      formControlName="tipo">
      <ion-select-option *ngFor="let tip of tiposProcedimento" [value]="tip">{{ tip }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Observação</ion-label>
      <ion-input formControlName="observacao"></ion-input>
    </ion-item>
  </form>
</ion-content>
