<ion-content class="ion-margin">
  <div class="table-box">
    <ion-grid  class="ion-margin scroll-lateral col s4 offset-s4 card">
      <ion-row>
        <ion-col class="head" size="12">Próximos procedimentos </ion-col>
      </ion-row>
      <ion-row class="head-table">
        <ion-col size="4">Nome</ion-col>
        <ion-col size="1.5">Data</ion-col>
        <ion-col size="">Local</ion-col>
        <ion-col size="">Especialidade</ion-col>
        <ion-col size="1.5">Tipo</ion-col>
        <ion-col size="1" style="text-align: center;"> + </ion-col>
      </ion-row>
      <ion-row  *ngFor="let procedimento of procedimentos; index as i">
        <ion-col size="4">{{ procedimento.nome }}</ion-col>
        <ion-col size="1.5">{{ procedimento.dataRealizacao }}</ion-col>
        <ion-col >{{ procedimento.local }}</ion-col>
        <ion-col> {{ procedimento.especialidade }}</ion-col>
        <ion-col size="1.5">{{ procedimento.tipo }}</ion-col>
        <ion-col size="1">
          <ion-button fill="clear" class="btn-update" >
            <ion-icon class="icon-update" name="create-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
  </ion-content>