ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    

    max-width: 1100px;

    .head-table{
      background-color:  #3880FF;
      font-weight: bold;
    }

    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ion-col {
      width: fit-content;
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
      font-size: smaller;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
    ion-row:first-child {
      background-color:  #5195FF;
      font-weight: bold;
    }

    .icon-update, .icon-delete, .icon-procedimento{
      margin: -10px;
    }

    .col-update, .icon-delete{
      padding: 0;
    }
  }
  .table-box{
    
  display: flex;
  align-items: center;
  justify-content: center;
  }
.scroll-lateral{
    overflow-x: scroll;
    white-space: nowrap;
}
  @media screen and (min-width: 700px) {
    .scroll-lateral {
      overflow-x: visible;
      white-space: normal;
    }
  }

  .icon-update, .icon-delete, .icon-procedimento {
    width: 30px;
    font-size: 180%;
  }

