ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    

    max-width: 750px;

    .head-table{
      background-color:  #16a750;
      font-weight: bold;
    }

    ion-col {
      width: fit-content;
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
      font-size: smaller;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }
  .table-box{
    
  display: flex;
  align-items: center;
  justify-content: center;
  }
.scroll-lateral{
    overflow-x: scroll;
    white-space: nowrap;
}
  @media screen and (min-width: 700px) {
    .scroll-lateral {
      overflow-x: visible;
      white-space: normal;
    }
  }

.head{
  background-color:  #2dd36f;
  font-weight: bold;
  font-size: large;
}

